.black_95 { background-color: #F4F4F4; }
.black_90 { background-color: #EAE9E9; }
.black_80 { background-color: #D5D4D4; }
.black_70 { background-color: #C0BFBF; }
.black_60 { background-color: #ABAAAA; }
.black_50 { background-color: #969595; }
.black_40 { background-color: #818080; }
.black_30 { background-color: #6C6B6B; }
.black_20 { background-color: #575656; }

.white_95 { background-color: #0c0c0c; }
.white_90 { background-color: #191919; }
.white_80 { background-color: #323232; }
.white_70 { background-color: #4c4c4c; }
.white_60 { background-color: #666666; }
.white_50 { background-color: #7f7f7f; }
.white_40 { background-color: #999999; }
.white_30 { background-color: #b2b2b2; }
.white_20 { background-color: #cccccc; }

.pink_95 { background-color: #fef7f8; }
.pink_90 { background-color: #fdeff1; }
.pink_80 { background-color: #fbe0e4; }
.pink_70 { background-color: #f9d0d7; }
.pink_60 { background-color: #f8c1c9; }
.pink_50 { background-color: #f6b2bc; }
.pink_40 { background-color: #f4a2af; }
.pink_30 { background-color: #f393a1; }
.pink_20 { background-color: #f18394; }

.red_95 { background-color: #fdf5f5; }
.red_90 { background-color: #fbebeb; }
.red_80 { background-color: #f7d7d7; }
.red_70 { background-color: #f4c3c3; }
.red_60 { background-color: #f0afaf; }
.red_50 { background-color: #ed9b9b; }
.red_40 { background-color: #e98787; }
.red_30 { background-color: #e57373; }
.red_20 { background-color: #e25f5f; }

.orange_95 { background-color: #fef7f3; }
.orange_90 { background-color: #feefe8; }
.orange_80 { background-color: #fddfd2; }
.orange_70 { background-color: #fccfbb; }
.orange_60 { background-color: #fbc0a5; }
.orange_50 { background-color: #fab08f; }
.orange_40 { background-color: #f9a078; }
.orange_30 { background-color: #f89162; }
.orange_20 { background-color: #f7814b; }

.yellow_95 { background-color: #fefcf4; }
.yellow_90 { background-color: #fef9ea; }
.yellow_80 { background-color: #fef4d5; }
.yellow_70 { background-color: #feefc0; }
.yellow_60 { background-color: #feeaab; }
.yellow_50 { background-color: #fee597; }
.yellow_40 { background-color: #fee082; }
.yellow_30 { background-color: #fedb6d; }
.yellow_20 { background-color: #fed658; }

.green_95 { background-color: #fbfbf4; }
.green_90 { background-color: #f7f8e9; }
.green_80 { background-color: #eff2d3; }
.green_70 { background-color: #e7ecbd; }
.green_60 { background-color: #e0e6a7; }
.green_50 { background-color: #d8e092; }
.green_40 { background-color: #d0da7c; }
.green_30 { background-color: #c9d466; }
.green_20 { background-color: #c1ce50; }

.blue_95 { background-color: #f5fafd; }
.blue_90 { background-color: #ebf5fb; }
.blue_80 { background-color: #d8ecf7; }
.blue_70 { background-color: #c5e3f3; }
.blue_60 { background-color: #b2daef; }
.blue_50 { background-color: #9fd1eb; }
.blue_40 { background-color: #8cc8e7; }
.blue_30 { background-color: #79bfe3; }
.blue_20 { background-color: #66b6df; }

.purple_95 { background-color: #faf7fd; }
.purple_90 { background-color: #f5effb; }
.purple_80 { background-color: #ecdff7; }
.purple_70 { background-color: #e3d0f3; }
.purple_60 { background-color: #dac0ef; }
.purple_50 { background-color: #d1b1ec; }
.purple_40 { background-color: #c7a1e8; }
.purple_30 { background-color: #be91e4; }
.purple_20 { background-color: #b582e0; }
